.search-bar-container {
    font-weight: bolder;
    display: flex;
    justify-content: space-between; 
}

input {
    margin: 10px;
    width: 500px;
   
    border: none;
    border-radius: 50px;
    padding-left: 20px;
}

button {
    margin: 10px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: white;
}

